<hr />
<div id="disqus_thread"></div>
<script type="text/javascript">
	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	
	// NOT USED var disqus_shortname = '{{ site.owner.disqus-shortname }}';
	
	var disqus_developer = 1; // Comment out when the site is live
	
	/* Not needed for a simple site : in case of multiple urls (http , https, www etc...)
	var disqus_config = function () {
		this.page.url ={{ page.url }};  // Replace PAGE_URL with your page's canonical URL variable
		this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
		};

	*/
	
	/* * * DON'T EDIT BELOW THIS LINE * * */
	
	(function() { 
		var d = document, s = d.createElement('script');
		s.src = '//zoran-cuckovic-from-hr.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
