<ul class="menu-item">
	
	{%comment%} 
		* Why is this added here ? Title is displayed by MASTHEAD...
		<li class="home"><a href="/">{{ site.title }}</a></li>
		* styles are for a href ==> omit href for non-link  
	{%endcomment%}
	
	{% for n in site.data.navigation %}
		
		{% if n.children != null %}
			<li>  <span>  <a >{{ n.title }}</a> </span>
			<ul class="sub-menu-item">
			
			{% for c in n.children %}
				<li><a href=" {{ c.ch_url }}">{{ c.ch_title }}</a></li>
			{% endfor %}
			</ul>
		
		{%else%}
		<li>  <span>  <a href="{{ n.url }}">{{ n.title }}</a> </span>
		{% endif %}
	{% endfor %}
	
	{%comment%} EXETRNAL LINKS ARE SUPPORTED NOW...
	{% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
	{%endcomment%}
  
</ul>