/*  DIY Z   
has to be imported in the main css !
size not specified : fills the space left in the homepage */

.sidebar {
  // @include outer-container;
  margin-bottom: $gutter;
  
	    
  position: block; /* must be block, otherwise : conflicts */
  
  	/* margin-top: $gutter;
	margin-left: -$gutter;
	margin-right: -$gutter;
	padding: 10px 0 20px;
				background: lighten($border-color,5); NO MARGINS
				border: 20px red;  NOT WORKING
	*/

  @include font-size( 24);
  
  form {
   margin : 0;
	 
	display: inline-block; // important to wrap
	
	
  
		}
 
	}